#editor:focus-visible {
    outline: none;
  }
#editor p{
  @apply my-2;
}
#editor p,
#editor table {
  position: relative;
}

.highlight-first-row{
  border: 1px solid red;
}

#editor ul,
#editor ol {
  padding: 0 1rem;
  margin: 0.25rem 1rem 0.25rem 0.4rem;
}
#editor ul{
  list-style-type: disc;
}
#editor ol{
  list-style-type: decimal;
}
#editor ol li p, #editor ul li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#editor code {
  @apply bg-gray-600 text-white px-1 py-0.5 rounded-md mx-0.5;
}

#editor h1 {
  @apply text-2xl font-bold mb-4;
}

#editor h2 {
  @apply text-xl font-bold mb-4;
}

#editor {
  :first-child {
    margin-top: 0;
  }

  blockquote {
    @apply border-l-2 border-gray-300 pl-4;
    margin: 1.5rem 0;
  }
}
  